*{
	padding: 0;
	margin: 0;
}

body{
	background:#eee;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #dedede;
	border-radius: 5px;
}
.label{
	padding-top:50px;
	padding-left: 120px;
	font-size: 35px;
	font-weight: bold;
	color: #130f;
}
.login_form{
	padding: 20px 40px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
	margin-top: 20px;

}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}

.login_form .font2
{
	margin-top: 30px;
}

.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background:#1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition:.5s;
}
.login_form button:hover{
	background: #151c6a;
}
.login_form #email1_error, .login_form #pass1_error, .login_form #name1_error, .login_form #repass_error{
	margin-top:  5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255, 0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
.container .register
{
	text-align: center;
	padding: 10px;
}
.container .register a{
	text-decoration: none;
	color: #000;

}